{{#.}}
    <tr data-id="{{id}}">
      <td>
          <button class="btn btn-sm btn-editar btn-warning" title="Editar/Ver"><i class="fa fa-edit"></i></button>
          <button class="btn btn-sm btn-eliminar btn-danger" title="Eliminar"><i class="fa fa-trash"></i></button>
      </td>
      <td>{{codigo}}</td>
      <td>{{fecha_registro}}</td>
      <td>{{repartidor}}</td>
      <td>{{agencia}}</td>
      <td>{{tipo_vehiculo}}</td>
      <td>S/ {{costo_entrega}}</td>
      <td>{{estado}}</td>
    </tr>
{{/.}}
