{{#.}}
    <tr data-id="{{id}}">
      <td>
          <button class="btn btn-sm btn-ver btn-warning" title="Ver"><i class="fa fa-eye"></i></button>
      </td>
      <td>{{fecha_registro}}</td>
      <td>{{cliente}}</td>
      <td>{{origen}}</td>
      <td>{{destino}}</td>
      <td>S/ {{costo}}</td>
      <td>S/ {{cobrar}}</td>
      <td>{{fue_pagado}}</td>
      <td>{{estado}}</td>
    </tr>
{{/.}}
