{{#.}}
    <tr data-id="{{id}}">
      <td>
          <button class="btn btn-sm btn-editar btn-warning" title="Editar/Ver"><i class="fa fa-edit"></i></button>
          <button class="btn btn-sm btn-eliminar btn-danger" title="Eliminar"><i class="fa fa-trash"></i></button>
      </td>
      <td>{{fecha_registro}}</td>
      <td>{{cliente}}</td>
      <td>{{origen}}</td>
      <td>{{destino}}</td>
      <td>S/ {{costo}}</td>
      <td>S/ {{cobrar}}</td>
      <td>{{fue_pagado}}</td>
      <td>{{estado}}</td>
    </tr>
{{/.}}
