{{#.}}
    <tr data-id="{{id}}">
      <td>
          <button class="btn btn-sm btn-ver btn-info" title="Ver"><i class="fa fa-eye"></i></button>
      </td>
      <td>{{codigo}}</td>
      <td>{{fecha_registro}}</td>
      <td>{{repartidor}}</td>
      <td>{{agencia}}</td>
      <td>{{responsable}}</td>
      <td>{{tipo_vehiculo}}</td>
      <td>S/ {{costo_entrega}}</td>
      <td>{{estado}}</td>
    </tr>
{{/.}}
